In [1]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                     $17.50    3    $52.50
1489  6mm Tactile Switch x20                 $4.95    2     $9.90
1510  Panavise Jr. - PV-201                 $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95
"""

SKU = slice(0,6)
DESCRIPTION = slice(6,40)
UNIT_PRICE = slice(40,52)
QUANTITION = (52,55)
ITEM_TOTAL = (55,None)
line_items = invoice.split('\n')[2:-1]
print(line_items)
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

['1909  Pimoroni PiBrella                     $17.50    3    $52.50', '1489  6mm Tactile Switch x20                 $4.95    2     $9.90', '1510  Panavise Jr. - PV-201                 $28.00    1    $28.00', '1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95']
    $17.50   Pimoroni PiBrella
     $4.95   6mm Tactile Switch x20
    $28.00   Panavise Jr. - PV-201
    $34.95   PiTFT Mini Kit 320x240

### 多维切片与省略

在Numpy可进行多维切片，用逗号分隔，Python默认的序列类型都是一维的。高维切片`a[m:n, k:l]`，`a[i, j]`调用的是`a.__getitem__((i, j))`

`...`是实例Ellipsis的别名，Ellipsis对象是ellipsis类的单一实例，可以辅助切片。对四维数组`x[i,...]`=`x[i,:,:,:]`

In [ ]:
# Assigning to slice
# When the target of the assignment is a slice, 
# the right side must be an iterable object, even if it has just one item.
l: list= list(range(10))
l[2:5] = [100]
l

[0, 1, 100, 5, 6, 7, 8, 9]

### + and * with sequence

In [ ]:
# 除非重新赋值，不然不修改原序列
l =[1, 2, 3]
# print(l * 5)
# print(5 * l)
# print(5 * 'abc')
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
my_list = [[]]*3
my_list

[[], [], []]

### Build lists of lists

In [7]:
board: list = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [8]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [9]:
board = [['_'] * 3] * 3
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [10]:
board[1][2] = 'O'
board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [15]:
board = [['_']]*3
board[0][0] = 1
board

[[1], [1], [1]]

In [ ]:
# 追加同一个行对象(row)3 次到游戏板(board)
row = ['_'] * 3
board = []
for _ in range(3):
    board.append(row)

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [17]:
board[0][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [ ]:
# 每次迭代中都新建了一个列表,作为新的一行(row)追加到游戏板  (board)
board = []
for _ in range(3):
    row =['_'] * 3
    board.append(row)

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [19]:
board[0][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', '_'], ['_', '_', '_']]

### Augmented Assignment with Sequences

`+=` -> `__iadd__`. like a.extend(b)

`*=` -> `__imul__`

若类不存在就地加法/乘法，则返回`__add__`/`__mul_`

In [1]:
l = [1,2,3]
print(id(l))
l *= 2
print(l)
print(id(l))

1642932594560
[1, 2, 3, 1, 2, 3]
1642932594560

In [16]:
t= (1,2,3)
print(id(t))
t *= 2
print(t)
print(id(t))

1642947300224
(1, 2, 3, 1, 2, 3)
1642946383776

In [18]:
print(t.__add__((6,)))
t

(1, 2, 3, 1, 2, 3, 6)

(1, 2, 3, 1, 2, 3)

In [25]:
t = (1,2,[30,40])
print(id(t))
print(t[2])
t[2] += [50,60]

1642947760064
[30, 40]

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(id(t))

1642947898176

In [26]:
dis.dis('s[a] +=b')

NameError: name 'dis' is not defined